<div>
    <a 
        id="continueButton" 
        href="<%= link %>" 
        data-page="<%= page %>" 
        class="btn btn-primary mt-3 m-1 w-100">
        <%= text %>
    </a>
</div>
<%- include('cancel-button', { page: page }) %>