        <footer class="container mt-2 text-center">
            &copy; 2024 A/B Test Example
        </footer>
        <script>
            function log(elementId, event) {
                fetch('/log', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        elementId: elementId,
                        event: event,
                        action: 'click',
                    })
                });
            }
            document.querySelectorAll('button, a').forEach(element => {
                element.addEventListener('click', function() {
                    const event = element.getAttribute('data-event');
                    log(element.id, event);
                });
            });
        </script>
    </body>
</html>
