<%- include('../partials/header', { title: 'Confirm' }) %>
<section class="container mt-5 text-center">
    <h2>Confirm</h2>
    <p>Confirm your selection</p>
    <div>
        <a href="/payment" class="btn btn-primary m-1 w-100">Confirm</a>
    </div>
    <div>
        <a href="/" class="btn btn-secondary m-1 w-100">Cancel</a>
    </div>
</section>
<%- include('../partials/footer') %>


