<%- include('../partials/header', { title: 'Products' }) %>
<section class="container mt-5 text-center">
    <h2>Select product</h2>
    <p>Select one item</p>
    <div>
        <a href="/confirm" class="btn btn-primary m-1 w-100">Select</a>
    </div>
    <div>
        <a href="/" class="btn btn-secondary m-1 w-100">Cancel</a>
    </div>
</section>
<%- include('../partials/footer') %>


