<%- include('../partials/header', { title: 'Receipt' }) %>
<section class="container mt-5 text-center">
    <h2>Receipt</h2>
    <p>Your order confirmed</p>
    <div>
        <a href="/" class="btn btn-primary m-1 w-100">Done</a>
    </div>
</section>
<%- include('../partials/footer') %>


