<%- include('../partials/header', { title: 'Welcome' }) %>
<section class="container mt-5 text-center">
    <h2>Welcome!</h2>
    <div>
        <a 
            id="startButton" 
            data-page="<%= page %>" 
            href="/products" 
            class="btn btn-primary m-1 w-100">
            Start
        </a>
    </div>
</section>
<%- include('../partials/footer') %>


