<%- include('layout', { title: 'Confirm' }) %>

<section>
    <section class="container mt-5">
        <h2>Confirm</h2>
        <p>Confirm your selection</p>
        <a href="/confirm" class="btn btn-primary">Confirm</a>
    </section>
</section>