
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>A/B Test Example</h1>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        &copy; 2024 A/B Test Example
    </footer>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>