<%- include('layout', { title: 'Payment' }) %>

<section>
    <section class="container mt-5">
        <h2>Pay</h2>
        <p>Pay for product</p>
        <a href="/receipt" class="btn btn-primary">Pay</a>
    </section>
</section>