<%- include('layout', { title: 'Products' }) %>

<section>
    <section class="container mt-5">
        <h2>Welcome!</h2>
        <p>Select product</p>
        <a href="/payment" class="btn btn-primary">Pay</a>
    </section>
</section>