<%- include('layout', { title: 'Receipt' }) %>

<section>
    <section class="container mt-5">
        <h2>Receipt</h2>
        <p>Your order confirmed</p>
        <a href="/" class="btn btn-primary">Browse products</a>
    </section>
</section>